<div id="loading" style="position: fixed; bottom: 0; width: 100%; display:none; background:white;">
<p>
    <img src="img/loading.gif" alt="Loading…" style="display: block; margin: 0px auto;" />
</p>
</div>
</body>
</html>