{{#posts}}
<div id="post_{{id}}" class="post">
    <h1>{{title}}</h1>
    <p>
        This jQuery plugin adds parallax effect on the element that responds according to mouse movement. You have only need to include jQuery script and no external...
    </p>
    <a href="#" target="_blank" class="more">More</a>
</div>
{{/posts}}