{{>layout/header}}

<div class="container">
    {{#posts}}
    <div class="post" id="post_{{id}}">
        <h1>{{title}}</h1>
        <p>
            <img src="/img/1.jpg">
            {{content}}
        </p>
        <a href="#" target="_blank" class="more">More</a>
    </div>
    {{/posts}}
    <input type="hidden" id="row" value="1"><!-- 현재 페이지 -->
    <input type="hidden" id="all" value="{{pageCount}}"><!-- 전체 페이지 수 -->
</div>

<script>

var winCached = $(window);
var docCached = $(document);

var currLeng = 0;

function addContent() {
   $('#scrollval').text(parseInt(winCached.scrollTop() + winCached.height()) +  "  : " + (docCached.height() - 300));

   dettachScrollEvent();

   setTimeout(function() {

   var row = Number($('#row').val());          // 현재 페이지 1
   var allcount = Number($('#all').val());     // 페이지 수 3
   var rowperpage = 1;
   row = ++row;
   $('#row').val(row);

   if(row <= allcount){
       $('#loading').show();

       $.ajax({
           url: 'fetch_data',
           type: 'post',
           data: {page:row},
           success: function(response){
               $('#loading').hide();
               $(".post:last").after(response).show().fadeIn("slow");
           }
       });
   }
   attachScrollEvent();
   }, 500);
}

function infiNLoader() {
    if (winCached.scrollTop() + winCached.height() > docCached.height() - 300) {
        addContent();
    }
}

function attachScrollEvent() {
    winCached.scroll(infiNLoader);
}

function dettachScrollEvent() {
    winCached.unbind('scroll', infiNLoader);
}

function init() {
    attachScrollEvent();
}

init();
</script>
{{>layout/footer}}